
/*Cursos*/

.tituloCursos {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
  font-style: italic;
  color: nth($colores, 1);
}

#tituloCursosSecundario {
  padding-top: 40px;
  color: nth($colores, 1);
  background-color: nth($colores, 3);
  text-align: center;
  margin-bottom: 0px;
}

.contenedorCursos {
  @include centrar; 
}

.cursoBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 300px;
    margin: 80px;
    margin-top: 50px;
    text-align: center;
    color: nth($colores, 1);
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    img {
      width: 100%;
      border-radius: 5px;
    }
    span {
      color: grey;
      font-size: 22px;
    }
    button {
      border: none;
      outline: 0;
      padding: 12px;
      color: nth($colores, 2);
      background-color: white;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;

      &:hover {
        @include hoversbox;
      }
    }
  }