/*General*/

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }

/*   .congrid {
  border: 8px solid green;
}
.rowgrid {
  border: 3px solid red;
}
.colgrid {
  border: 3px dotted blue;
} */
